.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style: none;
  padding: 0;
}

.main {
  width: 80%;
  display: flex;
  justify-content: center;
}

.user-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-form, .register-form {
  width: 100%;
}

.rooms {
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px;
}

.room-li {
  width: 100%;
}

.room-button {
  width: 100%;
  border: none;
}

.add-room-input {
  margin-bottom: 5px;
}

.send-recieve {
  width: 80%;
  padding: 10px 0 0 0;
  background-color: #999999;
}

.message {
  margin: 10px;
  border-radius: 10px;
  background-color: #f3f6f4;
  padding: 10px;
}

.edit-box {
  text-align: right;
}

.button-container {
  text-align: center;
}

.messeger {
  width: 100%;
  padding: 0 10px 10px 10px;
  background-color: #fff;
}

.send-button {
  width: 100%;
}
